<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="reportes.length === 0">
    <p>No hay registros de asistencia.</p>
  </div>
  
  <table *ngIf="reportes.length > 0" class="table">
    <thead>
      <tr>
        <th>Fecha de Reporte</th>
        <th>Horas Totales</th>
        <th>Ausencias</th>
        <th>Tardanzas</th>
        <th>Empleado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reporte of reportes">
        <td>{{ reporte.fecha_reporte }}</td>
        <td>{{ reporte.horas_totales_trabajadas }}</td>
        <td>{{ reporte.numero_ausencias }}</td>
        <td>{{ reporte.numero_tardanzas }}</td>
        <td>
          {{ reporte.empleado?.primer_nombre }}
          {{ reporte.empleado?.apellido_paterno }}
        </td>
      </tr>
    </tbody>
  </table>
  
</ion-content>
