/* Estilos para el header */
.header-row {
  align-items: center;
  padding: 10px;
}

.logo-placeholder {
  font-size: 40px; /* Tamaño del ícono */
  color: #4a148c; /* Morado oscuro */
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a148c; /* Morado oscuro para el título */
  margin-left: 15px;
  text-align: left;
}

.admin-container {
    display: flex;
    height: 100vh;
  
    .menu {
      width: 20%;
      min-width: 220px;
      background-color: #3c09a9; /* Morado claro */
      padding: 1rem;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  
      ion-item {
        margin: 1rem 0; /* Espaciado entre las opciones */
        border-radius: 10px; /* Bordes redondeados */
        transition: background-color 0.3s ease;
  
        ion-icon {
          font-size: 1.5rem; /* Tamaño de íconos */
          color: #4b0082; /* Morado oscuro */
        }
  
        ion-label {
          font-weight: bold;
          color: #4b0082; /* Morado oscuro */
        }
  
        &:hover {
            background-color: #956fa0; /* Fondo claro al pasar el mouse */
            transform: translateY(-5px); /* Mover hacia arriba 5px */
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra adicional */
          }
  
        &.active {
          background-color: #cdb5cd; /* Fondo morado claro para la opción activa */
        }
        
        &.logout {
          background-color: #d9534f; // Rojo suave para distinguir la acción
          color: #ffffff;
      
          ion-icon {
            color: #ffffff; // Ícono blanco
          }
      
          &:hover {
            background-color: #c9302c; // Rojo más oscuro al pasar el mouse
          }
        }
      }
    }
  
    .content {
      width: 80%;
      padding: 2rem;
      overflow-y: auto;
    }
  }


  