.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    ion-item {
      width: 90%;
      margin-bottom: 15px;
    }
  
    ion-button {
      width: 90%;
      margin-top: 15px;
    }
  
    .user-icon {
      font-size: 120px;
      color: #3b82f6;
      margin-bottom: 30px;
    }
  
    .forgot-password {
      margin-top: 10px;
      text-align: center;
      ion-button {
        font-size: 0.8em;
        color: #3b82f6;
      }
    }
  }
  