<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menú Lateral</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- Menú de opciones -->
      <ion-item routerLink="/perfilusuario">Perfil</ion-item>
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<ion-content id="main-content" class="bg-background text-primary-foreground" style="font-family: Manrope, 'Noto Sans', sans-serif;">
  <ion-header>
    <ion-toolbar>
      <p style="color: black;" slot="end">Fecha: {{ fecha }} <br> Hora: {{ hora }}</p>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Título centrado -->
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/time-location-control-icon-simple-work-clock-vector.jpg" alt="">
    </ion-avatar>
    <ion-label></ion-label>
  </ion-item>
  <h2 class="text-primary text-[26px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 text-center">
    Bienvenido, {{ userName }}
  </h2>

  

 

  <div class="button-container px-4">
    <ion-button
      size="large"
      expand="block"
      [disabled]="isLoading"
      (click)="registrarAsistencia()"
    >
      <ion-icon slot="start" name="finger-print-outline"></ion-icon>
      {{ isLoading ? 'Registrando...' : 'Registrar Asistencia' }}
    </ion-button>
  </div>

  <!-- Messages -->
  <ion-item *ngIf="successMessage" lines="none" color="success">
    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
    <ion-label>{{ successMessage }}</ion-label>
  </ion-item>

  <ion-item *ngIf="errorMessage" lines="none" color="danger">
    <ion-icon name="alert-circle" slot="start"></ion-icon>
    <ion-label>{{ errorMessage }}</ion-label>
  </ion-item>

  <!-- marcaar salida -->
  <div class="button-container px-4">
    <ion-button
      size="large"
      expand="block"
      [disabled]="isLoading"
      (click)="registerSalida()"
    >
      <ion-icon slot="start" name="finger-print-outline"></ion-icon>
      {{ isLoading ? 'marcando Salida...' : 'Registrar Salida' }}
    </ion-button>
  </div>

  <!-- Messages -->
  <ion-item *ngIf="succesMessageSalida" lines="none" color="success">
    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
    <ion-label>{{ succesMessageSalida }}</ion-label>
  </ion-item>

  <ion-item *ngIf="errorMessageSalida" lines="none" color="danger">
    <ion-icon name="alert-circle" slot="start"></ion-icon>
    <ion-label>{{ errorMessageSalida }}</ion-label>
  </ion-item>


  <!-- Contenedor de las tarjetas de entrada y salida -->
  <div class="card-container">

    <ion-card id="entrada" style="background: #40ff00c6;">
      <ion-card-header>
        <ion-card-title>ENTRADA</ion-card-title>
        <ion-card-subtitle>Entrada tarjetero digital</ion-card-subtitle>
      </ion-card-header>
      <div class="button-container-d">
      <ion-button id="pin" routerLink="/lockscreen" fill="clear">PIN</ion-button>
      <ion-button id="biometrico"
      [disabled]="isLoading"
      (click)="registrarAsistencia()"
    >
      <ion-icon slot="start" name="finger-print-outline"></ion-icon>
      {{ isLoading ? 'Registrando...' : '' }}
    </ion-button>
  </div>
    </ion-card>
  <br>
    <ion-card id="salida" style="background:#ae0c0c;">
      <ion-card-header>
        <ion-card-title>SALIDA</ion-card-title>
        <ion-card-subtitle>Salida tarjetero digital</ion-card-subtitle>
      </ion-card-header>
      <ion-button routerLink="/lockscreen" fill="clear">PIN</ion-button>
    </ion-card>
  </div>




  <!-- Tarjetas con información (2 juntas y 1 al final) -->
  <div class="flex justify-center mt-4">
    <div class="grid grid-cols-2 gap-4 max-w-[480px] px-4 py-3">
      <ion-card class="bg-card text-card-foreground p-4 rounded-xl">
        <h3 class="text-primary text-lg font-bold mb-2">Horas Trabajadas</h3>
        <p class="text-primary text-base font-normal">120 horas</p>
      </ion-card>
      <ion-card class="bg-card text-card-foreground p-4 rounded-xl">
        <h3 class="text-primary text-lg font-bold mb-2">Días Asistidos</h3>
        <p class="text-primary text-base font-normal">20 días</p>
      </ion-card>
    </div>
    <div class="flex justify-center px-4 py-3">
      <ion-card class="bg-card text-card-foreground p-4 rounded-xl w-full">
        <h3 class="text-primary text-lg font-bold mb-2">Ausencias</h3>
        <p class="text-primary text-base font-normal">2 días</p>
      </ion-card>
    </div>
  </div>
</ion-content>
