/* Estilo base para los botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 16px; /* Espaciado entre los botones */
  max-width: 480px;
  flex-direction: column;
  padding: 12px;
}

/* Estilo para el botón Entrada con color Danger */
.button-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 84px;
  max-width: 480px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
  height: 48px; /* Ajusta la altura según sea necesario */
  padding: 0 20px;
  background-color: #f53d3d; /* Color de fondo rojo (Danger) */
  color: white; /* Color de texto */
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.button-danger:hover {
  background-color: #e02b2b; /* Fondo ligeramente más oscuro al pasar el mouse */
}

/* Estilo para el botón Otra Acción con color Success */
.button-success {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 84px;
  max-width: 480px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
  height: 48px;
  padding: 0 20px;
  background-color: #10dc60; /* Color de fondo verde (Success) */
  color: white; /* Color de texto */
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.button-success:hover {
  background-color: #0da350; /* Fondo ligeramente más oscuro al pasar el mouse */
}
