/* Cabecero */
ion-header {
    ion-toolbar, ion-item {
      --background: #7972e6; /* Cambia el fondo del toolbar a un tono más oscuro */
      --color: #ffffff; /* Cambia el color del texto a blanco para mayor contraste */
    }
  }
  
  /* Barra de opciones del menú */
  ion-toolbar.bordered {
    --box-shadow: 5px 5px 10px #f1f5f8, -5px -5px 10px #f1f5f8;
  }
  
  /* Estilo para ion-item */
  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }
    p {
      font-weight: 500;
      font-size: 20px;
    }
  
    ion-avatar {
      --border-radius: 40%;
    }
  }
  
  /* Fondo de la página */
  ion-content {
    --background: #7972e6; /* Cambia el fondo principal */
  }
  
  /* Estilo de fecha y hora */
  p {
    font-size: 1.2em;
    color: #ffffff; /* Texto blanco para contraste */
    margin: 10px 0;
  }
  
  /* Swiper */
  swiper-container {
    width: 100%;
    height: 100%;
  }
  
  swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 10px 20px 10px; /* Marco */
    border-radius: 0 0 28px 28px;
  }
  
  /* Card */
  ion-card {
    box-shadow: none;
    border-radius: 0 0 28px 28px;
    background: #ffffff;
    width: 100%; /* Ocupa todo el ancho */
    margin: 0; /* Elimina márgenes */
    padding: 0;
  }
  
  /* Contenedor de las tarjetas de entrada y salida */
  .card-container {
    display: flex;
    justify-content: space-between; /* Espacio entre tarjetas */
    align-items: center; /* Alinea las tarjetas verticalmente */
  }
  
  #entrada, #salida {
    width: 48%; /* Ajusta el tamaño de las tarjetas para que se alineen en la misma fila */
  }
  