<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menú Lateral</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- POR AHORA AVANCE -->

      <ion-item routerLink="/pagina1">Perfil</ion-item>
      <ion-item routerLink="/change-pin">Cambiar PIN</ion-item>
      <ion-item routerLink="/pagina3">Sugerencias / Donaciones</ion-item>
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-list>

  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<ion-content id="main-content">
  <ion-header>
    <ion-toolbar>
      <p  style="color: black;" slot="end"> Fecha: {{ fecha }} <br>  Hora: {{ hora }}</p>

      <ion-buttons slot="start">
        <ion-menu-button> </ion-menu-button>  <!-- Botón para abrir el menú -->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/time-location-control-icon-simple-work-clock-vector.jpg" alt="">
      </ion-avatar>
      <ion-label>
        <p>Bienvenido</p> 
        <h3></h3>
          <!-- dato enduro-->
      </ion-label>
    </ion-item>





<!-- CARRUSEL CON CARD-->
<ion-content >

  <ion-card >
    <swiper-container
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [pagination]="true">
    <swiper-slide *ngFor="let image of images">
      <img [src]="image">
    </swiper-slide>
  </swiper-container>
  </ion-card>
  <br>
  <br>
  <br>

  <!-- Contenedor de las tarjetas de entrada y salida -->
<div class="card-container">

  <ion-card id="entrada" style="background: #49e615c6;">
    <ion-card-header>
      <ion-card-title>ENTRADA</ion-card-title>
      <ion-card-subtitle>Entrada tarjetero digital</ion-card-subtitle>
    </ion-card-header>
    <ion-button routerLink="/lockscreen" fill="clear">PIN</ion-button>
  </ion-card>
<br>
  <ion-card id="salida" style="background:#ae0c0c;">
    <ion-card-header>
      <ion-card-title>SALIDA</ion-card-title>
      <ion-card-subtitle>Salida tarjetero digital</ion-card-subtitle>
    </ion-card-header>
    <ion-button routerLink="/lockscreen" fill="clear">PIN</ion-button>
  </ion-card>
</div>


</ion-content>

