<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menú Lateral</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list style="display: flex; flex-direction: column; height: 100%; padding: 10px;">
      <!-- Menú de opciones -->
      <ion-item routerLink="/cambiar-pin" style="border-radius: 10px; margin-bottom: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: #f9f9f9; transition: 0.3s;">
        <ion-label style="font-weight: bold; font-size: 18px; color: #333;">Cambiar PIN</ion-label>
      </ion-item>

      <!-- Espacio vacío para empujar el botón hacia abajo -->
      <div style="flex-grow: 1;"></div>

      <!-- Botón de Cerrar Sesión (al final) -->
      <ion-button 
  (click)="logout()" 
  fill="solid"
  color="danger"
  style="border-radius: 25px; padding: 12px 20px; transition: 0.3s; margin-top: 20px;">
  Cerrar Sesión
</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<ion-content id="main-content" class="bg-background text-primary-foreground" style="font-family: Manrope, 'Noto Sans', sans-serif;">
  <ion-header>
    <ion-toolbar>
      <p style="color: black;" slot="end">Fecha: {{ fecha }} <br> Hora: {{ hora }}</p>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Título centrado -->
  <ion-item lines="none" color="transparent">
    <ion-avatar>
      <img src="assets/time-location-control-icon-simple-work-clock-vector.jpg" alt="">
    </ion-avatar>
  </ion-item>
  <h2 class="text-primary text-[26px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 text-center">
    Bienvenido, {{ userName }}
  </h2>

  <!-- CARRUSEL CON CARD-->
<ion-content >

  <ion-card color="transparent">
    <swiper-container
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [pagination]="true">
    
    <swiper-slide *ngFor="let image of images">
      <img [src]="image" class="carousel-image">
    </swiper-slide>
  </swiper-container>
  </ion-card>
  <br>



  <!-- Messages -->
  <ion-item *ngIf="successMessage" lines="none" color="success">
    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
    <ion-label>{{ successMessage }}</ion-label>
  </ion-item>

  <ion-item *ngIf="errorMessage" lines="none" color="danger">
    <ion-icon name="alert-circle" slot="start"></ion-icon>
    <ion-label>{{ errorMessage }}</ion-label>
  </ion-item>


  <!-- Messages -->
  <ion-item *ngIf="succesMessageSalida" lines="none" color="success">
    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
    <ion-label>{{ succesMessageSalida }}</ion-label>
  </ion-item>

  <ion-item *ngIf="errorMessageSalida" lines="none" color="danger">
    <ion-icon name="alert-circle" slot="start"></ion-icon>
    <ion-label>{{ errorMessageSalida }}</ion-label>
  </ion-item>


 <!-- Contenedor de las tarjetas de entrada y salida -->
 <div class="card-container">
  <ion-card id="entrada" style="background: #3bc40dc6; border-radius: 15px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
    <ion-card-header>
      <ion-card-title>ENTRADA</ion-card-title>
      <ion-card-subtitle style="border-radius: 20px; color: #000000;">Entrada tarjetero digital</ion-card-subtitle>
    </ion-card-header>
    <div class="button-container-d">
      <ion-button id="pin" routerLink="/lockscreen" fill="clear"  style="border-radius: 20px; color: #000000;">PIN</ion-button>
      <ion-button id="biometrico" [disabled]="isLoading" (click)="registrarAsistencia()" style="border-radius: 20px; background-color: #000000; color: white;">
        <ion-icon slot="start" name="finger-print-outline"></ion-icon>
        {{ isLoading ? 'Registrando...' : '' }}
      </ion-button>
    </div>
  </ion-card>

  <br>

  <ion-card id="salida" style="background:#d21010; border-radius: 15px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
    <ion-card-header>
      <ion-card-title>SALIDA</ion-card-title>
      <ion-card-subtitle style="border-radius: 20px; color: #000000;">Salida tarjetero digital</ion-card-subtitle>
    </ion-card-header>
    <div class="button-container-d">
    <ion-button routerLink="/pin-salida" fill="clear" style="border-radius: 20px; color: #000000;">PIN</ion-button>
    <ion-button id="biometrico" [disabled]="isLoading" (click)="registerSalida()" style="border-radius: 20px; background-color: #000000; color: white;">
      <ion-icon slot="start" name="finger-print-outline"></ion-icon>
      {{ isLoading ? 'Registrando...' : '' }}
    </ion-button>
  </div>
  </ion-card>

  
</div>





<!-- Tarjetas con información -->
<div class="flex justify-center mt-4">
  <div class="grid grid-cols-2 gap-4 max-w-[480px] px-4 py-3">
    <ion-card class="bg-card text-card-foreground p-4 rounded-xl shadow-md">
      <div class="flex flex-col justify-center items-center h-full">
        <h3 class="text-primary text-lg font-bold mb-2">Horas Trabajadas</h3>
        <p class="text-primary text-base font-normal">{{ horasTrabajadas }} horas</p>
      </div>
    </ion-card>
    <ion-card class="bg-card text-card-foreground p-4 rounded-xl shadow-md">
      <div class="flex flex-col justify-center items-center h-full">
        <h3 class="text-primary text-lg font-bold mb-2">Días Asistidos</h3>
        <p class="text-primary text-base font-normal">20 días</p>
      </div>
    </ion-card>
  </div>

  <div class="flex justify-center px-4 py-3">
    <ion-card class="bg-card text-card-foreground p-4 rounded-xl w-full shadow-md">
      <div class="flex flex-col justify-center items-center h-full">
        <h3 class="text-primary text-lg font-bold mb-2">Ausencias</h3>
        <p class="text-primary text-base font-normal">2 días</p>
      </div>
    </ion-card>
  </div>
</div>


</ion-content>
